<h1>Users List</h1>
<p><%=link_to 'Create New User',new_admin_user_path %></p>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th>User Authority</th>
      <th>Total Created Task</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <%if user.authority == 1 %>
          admin user
        <%else%>
          common user
        <%end%>
      </td>
      <td><%= user.tasks.count%></td>
      <td><%=link_to 'show |',user %></td>
      <td><%=link_to 'edit |',edit_admin_user_path(user) %></td>
      <td><%=link_to 'delete |',user ,method: :delete,class:'del' %></td>
      <% if user.authority !=1 %>
        <td><%= link_to "appoint admin", admin_users_path(appoint_admin: "true",id:user.id,authority:1),data: { confirm: 'Are you sure?' }%></td>
        <!-- 後にもっと見る -->
      <% end %>
    </tr>
    <% end %>
  </tbody>

</table>
